.input-field {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

input[type="text"] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--green);
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 16px;
  margin: 0 0 8px 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: all 0.5s;
  color: var(--green);
}

input[type="text"]:focus {
  border-bottom: 1px solid var(--coral);
}

input[type="text"]:hover {
  border-bottom:1px solid var(--darkGreen);
}

input[type="text"]::placeholder {
  color: rgba(0,0,0, 0.25);
  font-size: 16px;
}
