/*
  CSS grid to define basic layout of our page
  header
  main card / todo
  footer
*/
.main {
  display: grid;
  grid-template-columns: 20vw 60vw 20vw;
  grid-template-rows: 10vh 80vh 10vh;
  grid-template-areas:
    "header header header"
    ". main ."
    "footer footer footer";
}

.card {
  grid-area: main;
  color: var(--green);
  padding: 40px 20px;
}

.card .button {
  background-color: var(--coral);
  border: none;
  color: inherit;
  outline: none;
  padding: 12px 40px 10px;
  position: relative;
}

.button:before,
.button:after {
  border: 0 solid transparent;
  transition: all 0.25s;
  content: "";
  height: 24px;
  position: absolute;
  width: 24px;
}
.button:before {
  border-top: 2px solid #c47135;
  left: 0px;
  top: -5px;
}
.button:after {
  border-bottom: 2px solid #c47135;
  bottom: -5px;
  right: 0px;
}
.button:hover {
  background-color: #c47135;
}
.button:hover:before,
.button:hover:after {
  height: 100%;
  width: 100%;
}
