@import-normalize;

:root {
  --darkGreen: #263056;
  --green: #9fb3ac;
  --egg: #fbe4b7;
  --lightYellow: #f9f6e7;
  --coral: #b46647;
  --lightBg: rgba(240, 240, 240, 0.8);
  --darkBg: rgba(0,0,0,0.8);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hidden-sm {
  visibility: hidden;
  display: none;
}

@media screen and (min-width: 769px) {
  .hidden-sm {
    visibility: visible;
    display: block;
  }
}
